.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/node_modules
*.DS_Store

deploy/
src/main/java/com/plzgraduate/myongjigraduatebe/core/EnvironmentCheck.java
