spring:
  profiles:
    default: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:33066/myongji_graduate?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: mysql

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false

  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6380

logging:
  level:
    com.plzgraduate.myongjigraduatebe.timetable.application.service: DEBUG
    p6spy: info

server:
  port: 8080

jwt:
  issuer: "plzgraduate"
  secret-key: "coffee"
  expiry-seconds: 10800000

springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true

  swagger-ui:
    path: /swagger-custom-ui.html
    enabled: true
    groups-order: DESC
    tags-sorter: alpha
    operations-sorter: method
    display-request-duration: true
    doc-expansion: none

  cache:
    disabled: true

  show-actuator: true
  override-with-generic-response: false
  model-and-view-allowed: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

---

spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

  flyway:
    enabled: false

  data:
    redis:
      host: mg-redis
      port: 6379

jwt:
  issuer: "plzgraduate"
  secret-key: ${JWT_SECRET}
  expiry-seconds: 3600000

---

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration

  data:
    redis:
      host: mg-redis
      port: 6379

jwt:
  issuer: "plzgraduate"
  secret-key: ${JWT_SECRET}
  expiry-seconds: 3600000
