<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger level="INFO" name="org.testcontainers"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
